chat.cghypermega.net, home.mitchelltrout.com {
    header X-Robots-Tag "noindex, nofollow, nosnippet, noarchive"

    handle /api/* {
        reverse_proxy 127.0.0.1:4000
    }
    handle /socket.io/* {
        reverse_proxy 127.0.0.1:4000
    }
    handle /uploads/* {
        reverse_proxy 127.0.0.1:4000
    }
    handle {
        reverse_proxy 127.0.0.1:3000
    }
}